.styleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #dfeafffa; */
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  width: 400px;
}

.loginTitle {
  width: 350px;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid black;
}

.loginForm {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 3px;
  margin-bottom: 20px;
}

.inputBox input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: start;
  border: none;
  padding: 5px 10px;
}

.loninButton {
  background-color: #adcff2;
  width: 320px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  border-color: transparent;
  color: white;
  cursor: pointer;
}

.findPassword {
  width: 100px;
  background-color: transparent;
  align-items: center;
  border: none;
  font-size: 14px;
  color: rgb(194, 194, 194);
  padding-top: 10px;
  cursor: pointer;
}

.oauthLogin {
  background-color: yellow;
  width: 320px;
  height: 40px;
  border-radius: 3px;
  border-color: transparent;
  font-size: 16px;
  margin: 10px 0;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.modalContent div {
  font-size: 24px;
  margin: 20px 10px;
}

.modalInput {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin-bottom: 20px;
}

.modalInput input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  text-align: start;
  border: none;
  padding: 5px 10px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}
.submitButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #adcff2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton {
  margin-top: 10px;
  margin-right: 8px;
  padding: 10px 20px;
  background-color: #c2c2c2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
