@import "../../../styles/variables.module.css";

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: var(--button-hover-color);
}
