.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}


.largeButton {
  padding: 15px 30px; /* 더 큰 패딩 */
  font-size: 18px;    /* 더 큰 글꼴 크기 */
}