@import "../../styles/variables.module.css";

.commentBox {
  margin-top: 70px;
}

.commentInputBox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 935px;
}

.commentTextarea {
  border: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  outline: none;
  resize: none; /* textarea 크기 조절 막기 */
}

.commentInputBtn {
  border: none;
  background-color: #f5f5f5;
  padding: 8px 16px;
  cursor: pointer;
  height: 60px;
}

.commentItemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.commentItem {
  display: flex;
  flex-direction: column;
}

.commentInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
}

.commentUser {
  font-weight: bold;
  text-align: center;
  color: var(--text-color1);
  margin-right: 10px;
}

.commentDate {
  color: var(--text-color3);
}

.commentContent {
  padding: 20px;
}

.commentBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentEditBtn,
.commentDeleteBtn {
  margin: 0 5px;
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.commentEditBtn:hover,
.commentDeleteBtn:hover {
  background-color: #e0e0e0;
}

.divider {
  width: 2px;
  height: 16px;
  background-color: #999;
  margin: 0 5px;
}
