@import "../../styles/variables.module.css";

.commentBox {
  margin-top: 70px;
}

.commentInputBox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 935px;
}

.commentTextarea {
  border: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  outline: none;
  resize: none; /* textarea 크기 조절 막기 */
}

.commentInputBtn {
  border: none;
  background-color: #f5f5f5;
  padding: 8px 16px;
  cursor: pointer;
  height: 60px;
}

.commentBtn:hover {
  background-color: #e0e0e0;
}

.commentItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.commentUser {
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.commentContent {
  flex-grow: 1;
}

.commentEditBtn,
.commentDeleteBtn {
  margin-left: 10px;
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.commentEditBtn:hover,
.commentDeleteBtn:hover {
  background-color: #e0e0e0;
}
