@import "../../styles/variables.module.css";

.category {
  text-align: right;
  margin-bottom: 20px;
  color: #999999;
}

.postBox {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin: 20px 0;
}

.postTitle {
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
}

.postDetail {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  color: #999;
  border-top: 1px solid var(--border-color2);
  border-bottom: 1px solid var(--border-color2);
  font-size: 15px;
}

.detailDivider {
  width: 1px;
  height: 14px;
  background-color: #999;
  margin: 0 10px;
}

.postContent {
  padding: 20px;
}

.postBtnBox {
  display: flex;
  justify-content: flex-end;
}

.commentBox {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Box border */
  padding: 10px;
  width: 935px;
}

.commentInput {
  border: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  outline: none;
}

.commentBtn {
  border: none;
  background-color: #f5f5f5;
  padding: 8px 16px;
  cursor: pointer;
  border-left: 1px solid #ccc; /* Divider between input and button */
}

.commentBtn:hover {
  background-color: #e0e0e0;
}
