@import "../../styles/variables.module.css";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  width: 955px;
  height: 80px;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form label,
.search form select,
.search form input,
.search form button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form select {
  margin: 0 5px 0 30px;
  border: 1px solid var(--border-color1);
}

.search form input {
  padding: 0 10px;
  border: 1px solid var(--border-color1);
  width: 280px;
  margin-right: 5px;
}

.search form button {
  background-color: #555;
  color: #fff;
  width: 75px;
  font-size: 16px;
}
