.filterContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
  background-color: #f5f8fc;
  /* padding: 20px; */
  border-radius: 8px;
  margin-bottom: 40px;
}

.selectContainer {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
  padding: 40px 40px 23px 40px;
}

.selectContainer label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1d1d1d;
}

.selectContainer select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #727272;
  border-radius: 4px;
  width: 180px;
  height: 50px;
}

.divide {
  color: #c6c6c6;
  margin-left: 40px;
  margin-right: 40px;
}

.selectedOptions {
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: #1d1d1d;
  padding: 24px 40px 40px 40px;
}

.selectedOptions p {
  font-size: 1.2rem;
  font-weight: bold;
  gap: 25px;
  padding-right: 56px;
}

.selectedOption {
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.selectedOption button {
  font-size: large;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
