.filterContainer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
  background-color: #f5f8fc;
  padding: 20px;
  border-radius: 8px;
}

.selectContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.selectContainer label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #1d1d1d;
}

.selectContainer select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selectedOptions {
  padding: 10px;
  border-radius: 4px;
  color: #1d1d1d;
}

.selectedOption {
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.selectedOption button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
