.mainBannerBox {
  width: 100%;
  height: 414px;
  /* height: 434px; */
  margin-bottom: 66px;
}

.mainBannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 676px;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 676px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.textContainer {
  z-index: 3;
  color: rgb(241, 241, 241);
}

.mainTitle {
  font-size: 70px;
  margin: 0;
  padding: 0;
  margin-top: 86px;
}

.subText {
  font-size: 22px;
  margin-top: 40px;
  line-height: 1.8;
}
