.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 1280px;
}

.totalItems {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #727272;
  border-radius: 4px;
  padding: 5px;
  margin-left: 5px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.iconButton.active {
  border: 2px solid #000;
  border-radius: 4px;
}

.icon {
  width: 24px;
  height: 24px;
}
