@import "../../styles/variables.module.css";

.searchBox {
  margin: 20px 0;
}

.totalPosts {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
  text-align: left;
  display: flex;
  justify-content: start;
  align-items: center;
}

.totalPosts img {
  width: 14px;
  margin-right: 5px;
}

.writeBtn {
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
}

.active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: #fff;
}
