@import "../../styles/variables.module.css";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  width: 955px;
  height: 80px;
  margin: 20px 0;
}

.search form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search form label,
.search form select,
.search form input,
.search form button {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search form select {
  margin: 0 5px 0 30px;
  border: 1px solid var(--border-color1);
}

.search form input {
  padding: 0;
  border: 1px solid var(--border-color1);
  width: 300px;
  margin-right: 5px;
}

.search form button {
  background-color: #555;
  color: #fff;
  width: 75px;
  font-size: 16px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 955px;
}

.tableHeader {
  background-color: #f5f8fc;
  font-weight: bold;
  color: #222;
  text-align: center;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  height: 40px;
}

.tableCell {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableBody .tableCell:nth-child(1),
.tableBody .tableCell:nth-child(4) {
  color: #666;
}

.tableBody .tableCell:nth-child(2),
.tableBody .tableCell:nth-child(5) {
  color: #222;
}

.tableBody .tableCell:nth-child(3) {
  flex: 3;
  text-align: left;
  justify-content: flex-start;
  color: #222;
}

.tableCell:nth-child(1),
.tableCell:nth-child(5) {
  flex: 0.5;
}

.tableCell:nth-child(3) {
  flex: 3;
}

.tableCell:nth-child(2),
.tableCell:nth-child(4) {
  flex: 0.7;
}

/* .tableCell:nth-child(3) {
  flex: 3;
  text-align: left;
  justify-content: flex-start;
} */

.writeBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
}

.active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: #fff;
}
