@import "../../styles/variables.module.css";

.category {
  text-align: right;
  margin-bottom: 20px;
  color: #999999;
}

.postBox {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin: 20px 0;
}

.postTitle {
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
}

.postDetail {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  color: #999;
  border-top: 1px solid var(--border-color2);
  border-bottom: 1px solid var(--border-color2);
  font-size: 15px;
}

.detailDivider {
  width: 1px;
  height: 14px;
  background-color: #999;
  margin: 0 10px;
}

.postContent {
  padding: 20px;
}

.postBtnBox {
  display: flex;
  justify-content: flex-end;
}

.postEditBtnBox,
.postDeleteBtnBox {
  margin-right: 20px;
}

.postDeleteBtn {
  background-color: #cbd0d5;
}

.postDeleteBtn:hover {
  background-color: #b6babd;
}
