:root {
  --primary-color: #adcff2;
  --secondary-color: #f5f8fc;
  --text-color1: #333;
  --text-color2: #555;
  --text-color3: #999;
  --border-color1: #dedede;
  --border-color2: #e5e5e5;
  --button-hover-color: #73b2f5;
}
