.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;
}

.header.mainPage {
  color: white;
}

.header.scrolled {
  background-color: white;
  color: #1d1d1d;
  box-shadow: 0 3px 8px -3px rgb(216, 216, 216);
}

.utilityBar {
  max-width: 1280px;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.875rem;
}

.utilityItem {
  margin-left: 28px;
  cursor: pointer;
  position: relative;
}

.utilityItem::before {
  content: "|";
  position: absolute;
  left: -16px;
  color: #ccc;
}

.utilityItem:first-child::before {
  content: "";
}

.utilityItem:hover {
  text-decoration: underline;
}

.caretDown {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.mainHeader {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0 21px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 42px;
  height: 50px;
}

.logoText {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.userMenu {
  display: flex;
  align-items: center;
}

.userMenuItem {
  display: flex;
  margin-left: 30px;
  cursor: pointer;
  align-items: center;
}

.userMenuItem:hover {
  text-decoration: underline;
}

.divider {
  width: 100vw;
  border: none;
  border-top: 1px solid #d8d8d8;
  margin: 0;
}

.divider02 {
  width: 100vw;
  border: none;
  border-top: 1px solid #d8d8d8;
  margin: 0;
}

.navbar {
  width: 100%;
  max-width: 1280px;
  padding: 18px 0;
  display: flex;
  justify-content: flex-start;
}

.navItem {
  margin: 0 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.navItem:hover {
  text-decoration: underline;
}
