:root {
  --primary-color: #adcff2;
  --primary-text-color: #fff;
}

.layoutContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2rem;
  padding: 1rem;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.headerTitle {
  margin: 0;
  padding: 0;
  text-align: left;
}

/* 새로운 클래스 추가 */
.sidebarWrapperCustom {
  margin-left: 16.5rem; /* 왼쪽 여백 추가하여 오른쪽으로 이동 */
}

.headerContent {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 2rem;
}

.infoBox {
  width: 100%;
  margin: 2rem 0;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.newTable {
  width: 100%;
  margin-bottom: 10px;
  table-layout: fixed;
  border-collapse: collapse;
}

.newTable th,
.newTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.newTable th {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.infoTable th,
.infoTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

.infoTable th {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: none;
  border-right: none;
  border-top: none;
}

.infoTable td {
  border-left: none;
  border-right: none;
}

.infoTable tbody tr,
.infoTable tbody td {
  display: block;
  width: 100%;
}

.infoTable tbody td {
  border: none;
  padding: 5px 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.largeButton {
  padding: 50px 50px;
  font-size: 25px;
}

.activeTab {
  background-color: var(--primary-color);
}

.layout {
  display: flex;
  align-items: flex-start;
  margin-top: 0;
}

.content {
  flex: 1;
}

.postList {
  flex: 1;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f8f8f8;
}

.description {
  margin-bottom: 50px;
}

.button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

th {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mainText {
  margin-right: 10px;
}

.subText {
  color: gray;
  font-size: 0.9rem;
}

/* 사이드바 스타일 */
.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sidebar .list {
  list-style: none;
  padding: 0;
}

.sidebar .listItem {
  padding: 10px;
  cursor: pointer;
}

.sidebar .listItem:hover {
  background-color: #eee;
}

.sidebar .active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* Footer 상단에 추가 마진 */
.footer {
  margin-top: 20px;
}