:root {
  --primary-color: #adcff2; 
  --primary-text-color: #fff; 
}

.layoutContainer {
  display: flex;
  margin: 0; 
  padding: 0; 
}

.sidebarWrapper {
  width: 250px; 
  flex-shrink: 0;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  padding: 10px; 
  width: 70%;
  height: auto; /* 자동으로 높이를 계산하여 할당 */
  box-sizing: border-box;
  overflow: hidden; /* 넘치는 내용을 숨깁니다. 필요에 따라 조정 */
}

.headerTitle {
  margin: 0;
  padding: 0;
}

.headerContent {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.infoBox {
  width: 100%;
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

.newTable {
  width: 100%;
  margin-bottom: 10px;
  table-layout: fixed; 
  border-collapse: collapse;
}

.newTable th,
.newTable td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.newTable th {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoTable {
  width: 100%;
  table-layout: fixed; 
  border-collapse: collapse;
  margin-bottom: 10px;
}

.infoTable th,
.infoTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

.infoTable th {
  width: 25%; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: none; 
  border-right: none; 
  border-top: none;
}

.infoTable td {
  border-left: none; 
  border-right: none;
}

.infoTable tbody tr,
.infoTable tbody td {
  display: block;
  width: 100%;
}

.infoTable tbody td {
  border: none; 
  padding: 5px 0; 
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.largeButton {
  padding: 50px 50px;
  font-size: 25px;    
}

.activeTab {
  background-color: var(--primary-color); 
}

.layout {
  display: flex;
  align-items: flex-start;
  margin-top: 0; 
}

.content {
  flex: 1;
}

.postList {
  flex: 1;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #f8f8f8;
}

.description {
  margin-bottom: 50px;
}

.button {
  padding: 10px 30px;
  font-size: 18px;
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

th {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mainText {
  margin-right: 10px;
}

.subText {
  color: gray;
  font-size: 0.9rem;
}

/* 사이드바 스타일 */
.sidebar {
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar .title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.sidebar .list {
  list-style: none;
  padding: 0;
}

.sidebar .listItem {
  padding: 10px;
  cursor: pointer;
}

.sidebar .listItem:hover {
  background-color: #eee;
}

.sidebar .active {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

/* Footer 상단에 추가 마진 */
.footer {
  margin-top: 20px;
}